{% import 'forms.twig' as form %}
{% extends 'base.twig' %}

{% block title %}{{ 'Tasks'|t }}{% endblock %}
{% block content %}
	{% if get['action'] == 'add_task' %}
		{{ form.panel_begin('Creating a task'|t) }}
			<form role="form" method="POST">
				{{ form.input('interface[items][add_task][0][full_name]', '', 'text', 'Name'|t) }}<br>
				{{ form.text('interface[items][add_task][0][instruction]', '', 5, 'Instruction'|t) }}<br>
				{{ form.input('interface[items][add_task][0][type]', '', 'text', 'Type'|t) }}<br>
				{{ form.text('interface[items][add_task][0][parametrs]', '', 5, 'Parametrs'|t) }}<br>

				{{ form.button('interface[items][add_task][0][run]', 'Add'|t, 'primary', 'lg', true) }}
			</form>
		{{ form.panel_end() }}
	{% elseif get['action'] == 'edit_task' %}
		{{ form.panel_begin('Edit task'|t) }}
			<form role="form" method="POST">
				<input type="hidden" name="interface[items][save_task][0][id]" value="{{ task['id'] }}">
				<input type="hidden" name="interface[items][delete_task][0][id]" value="{{ task['id'] }}">
				{{ form.input('interface[items][save_task][0][full_name]', task['full_name'], 'text', 'Name'|t) }}<br>
				{{ form.text('interface[items][save_task][0][instruction]', task['instruction'], 5, 'Instruction'|t) }}<br>
				{{ form.input('interface[items][save_task][0][type]', task['type'], 'text', 'Type'|t) }}<br>
				{{ form.text('interface[items][save_task][0][parametrs]', task['parametrs'], 5, 'Parametrs'|t) }}<br>

				{{ form.button('interface[items][save_task][0][run]', 'Save'|t, 'success', 'lg') }}
				{{ form.button('interface[items][delete_task][0][run]', 'Delete'|t, 'danger', 'lg') }}
			</form>
		{{ form.panel_end() }}
	{% elseif get['action'] == 'list_tasks' %}
		{{ form.panel_begin('List of tasks'|t) }}
			{% set table_thread = ['ID', 'Name'|t, 'Type'|t, 'Parametrs'|t, ''] %}		
			{% set table_attributes = ['striped'] %}

			{{ form.table_begin(table_thread, table_attributes) }}
				{% for item in tasks %}
					{% set table_date = [
						item['id'],
						item['full_name'],
						item['type'],
						item['parametrs'],
						form.hyperlink('Edit'|t, '?do=items&amp;action=edit_task&amp;id=' ~ item['id'], none, none, true)
					] %}

					{{ form.table_tr(table_date) }}
				{% endfor %}
			{{ form.table_end() }}
		{{ form.panel_end() }}
	{% elseif get['action'] == 'add_group_tasks' %}
		{{ form.panel_begin('Creating a group task'|t) }}
			<form role="form" method="POST">
				{{ form.input('interface[items][add_group_tasks][0][full_name]', '', 'text', 'Name') }}<br>
				{{ form.text('interface[items][add_group_tasks][0][description]', '', 5, 'Description') }}<br>
				{{ form.input('interface[items][add_group_tasks][0][list][0]', '', 'text', 'ID task №1') }}	
				<div id="list" num="0"></div>

				<script>	
				function new_input(name) {		
					var num = $(name).attr("num");
					$(name).before('<br><div class="form-group"><label>ID task №'+(parseInt(num)+2)+'</label><input class="form-control" name="interface[items][add_group_tasks][0][list]['+(parseInt(num)+1)+']"  type="text"></div>');
					$(name).attr("num", (parseInt(num)+1));
				}
				</script>

				<button type="button" class="btn btn-default btn-sm pull-right" onclick="new_input('#list')">{{ 'Add field'|t }}</button><br><br>

				{{ form.button('interface[items][add_group_tasks][0][run]', 'Add'|t, 'primary', 'lg', true) }}
			</form>
		{{ form.panel_end() }}
	{% elseif get['action'] == 'list_group_tasks' %}
		{{ form.panel_begin('List of groups of tasks'|t) }}
			{% set table_thread = ['ID', 'Name'|t, 'Description'|t, ''] %}		
			{% set table_attributes = ['striped'] %}

			{{ form.table_begin(table_thread, table_attributes) }}
				{% for item in tasks %}
					{% set table_date = [
						item['id'],
						item['full_name'],
						item['description'],
						form.hyperlink('Edit'|t, '?do=items&amp;action=edit_group_tasks&amp;id=' ~ item['id'], none, none, true)
					] %}

					{{ form.table_tr(table_date) }}
				{% endfor %}
			{{ form.table_end() }}
		{{ form.panel_end() }}
	{% elseif get['action'] == 'edit_group_tasks' %}
		{{ form.panel_begin('List of groups of tasks'|t) }}
			<form role="form" method="POST">
				<input type="hidden" name="interface[items][save_group_tasks][0][id]" value="{{ group_tasks['id'] }}">
				<input type="hidden" name="interface[items][delete_group_tasks][0][id]" value="{{ group_tasks['id'] }}">
				{{ form.input('interface[items][save_group_tasks][0][full_name]', group_tasks['full_name'], 'text', 'Name'|t) }}<br>
				{{ form.text('interface[items][save_group_tasks][0][description]', group_tasks['description'], 5, 'Description'|t) }}<br>
				{{ form.text('interface[items][save_group_tasks][0][list]', group_tasks['list'], 5, 'List'|t) }}<br>

				{{ form.button('interface[items][save_group_tasks][0][run]', 'Save'|t, 'success', 'lg') }}
				{{ form.button('interface[items][delete_group_tasks][0][run]', 'Delete'|t, 'danger', 'lg') }}
			</form>
		{{ form.panel_end() }}
	{% endif %}
{% endblock %}